h1{
    text-align: center;
    font-size: 100px;
}
h2{
    text-align: center
    ;
    font-size: 65px;
}
img{
    text-align: center;
}
body{
    text-align: center;
    background-color: rgba(189, 255, 127, 0.606);
}








[